<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<style>
	img{
		border:30px solid green;
	    padding:20px;
        margin-right:25%;
        float:right;
    }
</style>
<body>
	<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fjntukucev.ac.in%2F&psig=AOvVaw2q9UqWSDOaBtVQD8Al8vxy&ust=1646649237940000&source=images&cd=vfe&ved=2ahUKEwjxi7nIpLH2AhVljNgFHdcZCUEQr4kDegQIARAd">
</body>
</html>